<table>
    <tr>
        <th>과일이름</th>
        <th>가격</th>
        <th>수량</th>
    </tr>
    {{#each fruitLst}}
    <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{quantity}}</td>
    </tr>
    {{/each}}
</table>